.checkmark {
    position: absolute;
    left: 50%;
    bottom: calc(50% + 1px);
    border-bottom: 3px white solid;
    border-right: 3px white solid;
    transform: rotate(45deg) translate(-50%, 50%);
    transform-origin: bottom left;
    
    width: 4px;
    height: 9px;
}


.check-enter-active,
.check-leave-active {
    transition:
        opacity .1s ease-out 0.8s,
        width .2s ease-in 0.8s,
        height .5s ease-out 1s;
}

.check-enter-active {
    &.btn-text {
        transition:
            opacity .1s ease-out 1s
    }
}

.check-leave-active {
    &.btn-text {
        transition:
            opacity .1s ease-out,
    }
}

.check-enter-from,
.check-leave-to {
    width: 0px;
    height: 0px;
    opacity: 0;
}