@use "../abstracts/colors";

.week {
    display: flex;
    position: relative;
}

.day {
    width: 8px;
    height: 8px;
    display: inline-block;
    background-color: colors.$day-color;
    border: colors.$day-border-color 1px solid;
    position: relative;
}

.month {
    position: absolute;
    font-size: 10px;
    line-height: 10px;
    font-weight: bold;
    color: colors.$muted;
    padding-inline: 5px;
    text-transform: capitalize;
}

.day-header {
    position: absolute;
    font-size: 10px;
    font-weight: bold;
    line-height: 10px;
    color: colors.$muted;
    transform: translate(-50%, -100%);
    left: 50%;
    padding-bottom: 5px;
    text-transform: capitalize;
}

.today-annotation {
    position: absolute;
    right: 0;
    transform: translateX(calc(100% + 5px));
    margin-top: 5px;
}

.today-annotation img {
    display: block;
}

.today-label {
    position: absolute;
    top: -20px;
    right: 8px;
    color: colors.$text;
    font-size: 12px;
    transform: translateX(100%) rotate(20deg);
    white-space: nowrap;
}
