@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0;
    padding: 0;
    background: #161616;
    font-family: 'Roboto', sans-serif;
}
#grid {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}
.week {
    display: flex;
}
.day {
    width: 10px;
    height: 10px;
    background-color: #161616;
    border: #323232 1px solid;
    display: inline-block;
}
.btn {
    position: absolute;
    transform: translate(-50%, -50%);
    bottom: 3%;
    left: 50%;
    background: rgb(45,108,245);
    border: none;
    outline: none;
    color: #fff;
    border-radius: 8px;
    padding: 10px 15px;
}
.btn:hover{
    background: rgb(34, 82, 185);
    cursor: pointer;
}
.btn:active{
    background: rgb(28, 68, 155);
}