@use 'abstracts/colors';
@use 'abstracts/fonts';
@use 'components/buttons';
@use 'components/checkmark-button';
@use 'components/week-grid';

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

html,
body {
    min-height: 100%;
}

body {
    background-color: colors.$nav-bg;
}

#app {
    min-height: 100%;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}

nav {
    background-color: colors.$nav-bg;
    padding: 14px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

main {
    flex: 1;
    background-color: colors.$bg-color;
}

.title {
    font-size: 27px;
    font-weight: bold;
    gap: 2px;
    color: colors.$text;
    display: flex;
    align-items: center;
}

.hue {
    color: colors.$brand;
    display: inline-block;
    height: 28px;
    border-bottom: 3px solid colors.$brand;
}

.icon {
    width: 25px;
    height: 25px;
    display: inline-block;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.crown {
    background-image: url('../assets/crown.svg');
    margin-left: 4px;
}

.calendar {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 40px auto;
    margin-top: 100px;
    align-items: start;
    padding-top: 20px;
    padding-inline: 72px;
}

.centered {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.centered .divider {
    width: 200px;
    margin: 30px 0;
    border: none;
    border-top: 1px solid colors.$muted;
}

.section {
    padding: 20px;
    max-width: 350px;
    color: colors.$text;
}

.section h2 {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 14px;
    color: colors.$text;
}

.section p {
    font-size: 12px;
    color: colors.$text;
    line-height: 1.4;
}

.auth {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fake-link {
    color: #ccc;
    cursor: pointer;
    font-size: fonts.$normal-font;
    line-height: fonts.$normal-line-height;
    border-bottom: 1px solid #ccc;
}

footer {
    background-color: colors.$nav-bg;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 14px;
    font-size: 11px;
    color: colors.$text;
}

footer a {
    color: colors.$text;
    font-size: 11px;
    line-height: inherit;
}
